.product-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: 0f1111;
}
.productList-button button {
    margin: 3px;
    padding: 5px;
    width: fit-content;
    height: fit-content;
    align-self: center;
}

.productList-button {
    display: flex;
    justify-content: center;
    width: 100%;
}